<html>
  <head>
    <meta charset='UTF-8' />
    <title>Password Reset</title>
  </head>
  <body>
    <h1>Password Reset Request</h1>
    <p>Hi {{name}},</p>
    <p>There was a request to change your password!</p>
    <p>If you did not make this request then please ignore this email.</p>
    <p>Otherwise, please click this link to change your password:</p>
    <p><a href='{{resetLink}}'>Reset Password</a></p>
    <p>This link will expire in 1 hour.</p>
    <p>© {{currentYear}} {{appName}}. All rights reserved.</p>
    <p>For assistance, contact
      <a href='mailto:{{supportEmail}}'>{{supportEmail}}</a>.</p>
  </body>
</html>